body {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
  font-family: sans-serif;
  background-color:rgb(228, 240, 253)         
}

.main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33%;
}

.top-rigth-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.mode {
  font-size: 12px;
  font-weight: bold;
  color: #666666;
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  justify-content: space-between;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 17px;
  padding-left: 17px;
  min-width: 300px
  width: 30%;
}

.left-input-container {
  display: flex;
  align-items: center;
}

.input {
  backgorund-color: transperent;
  border: none;
  outline: none;
  margin-left: 10px;
  height: 30px;
  width: 300px;
  font-size: 16px;
}

.search-icon {
  font-size: 25px;
  margin-right: 2px;
  color: #5865F2;
}

.search-btn {
  padding: 12px 18px;
  border-radius: 7px;
  border: none;
  background-color:rgb(35, 153, 226) ;
  color: white;
  font-weight: bold;
  cursor: pointer;
  flex-grow: 0;
}

.middle {
  display: fLex;
  justify-content: center;
}

.user-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.pfp {
  width: 120px;
  border-radius: 100%
}

.info-container {
  display: flex;
  flex-direction: column;
}

.username-container p {
  margin-left: 70px; 
  font-size: 13px;
  color:rgb(153, 153, 153);
}

.username-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.bio-container {
  font-size: 15px;
  color: #666666;
}

.stats-container {
  background-color:rgb(240, 239, 239);
  display: flex;
  gap: 70px;
  padding: 10px;
  border-radius: 7px;
}

.repos {
  margin-left: 15px;
}

.following {
  margin-right: 15px;
}

.repos, .followers, .following {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-bottom: 15px;
}

.contactMe-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.location, .githubProfile, .twitter, .company {
  display: flex;
  align-items: center;
  justify-center: center;
  font-size: 17px;
  gap: 8px;
}

.location-icon, .link-icon, .twitter-icon, .company-icon {
  font-size: 20px;
}

.githubProfile {
  display: flex;
  align-items: center;
  justify-center: center;
  gap: 8px;
}

.githubProfile a {
  color: black;
  text-decoration: none;
}